<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Routing -server and DB connection</title>
  </head>
  <body>
    <h1>hello friends!</h1>
    <h3>Total number of users = <%= result.length %></h3>
    <ul>
      <% for( let i = 0; i < result.length; i++ ) { %>
      <li><%= result[i].username %></li>
      <% } %>
    </ul>
  </body>
</html>
