<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form class="post" action="/posts" method="post">
      <input type="text" placeholder="Enter your username" name="username" />
      <hr />
      <textarea
        rows="20"
        cols="50"
        name="content"
        placeholder="Enter Content"
      ></textarea
      ><br /><br />
      <button>Post</button>
    </form>
  </body>
</html>
